################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App2/bin/Debug
/App2/bld/Debug
