<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="d71af4d6-bb93-437b-b6b6-89ea17a6dde3"
    Version="1.0.0.0"
    Publisher="CN=eldorado" />

  <mp:PhoneIdentity PhoneProductId="d71af4d6-bb93-437b-b6b6-89ea17a6dde3" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>App2</DisplayName>
    <PublisherDisplayName>eldorado</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10069.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      StartPage="http://hostedwebapp.azurewebsites.net">
      
      <uap:VisualElements
        DisplayName="App2"
        Description="App2"
        BackgroundColor="#464646"
        Square150x150Logo="images\Logo.png"
        Square44x44Logo="images\SmallLogo.png">

        <uap:SplashScreen Image="images\splashscreen.png" />

      </uap:VisualElements>
      
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="http://hostedwebapp.azurewebsites.net" Type="include" WindowsRuntimeAccess="all"/>
        <uap:Rule Match="ms-appx-web:///" Type="include" WindowsRuntimeAccess="all"/>
      </uap:ApplicationContentUriRules>

      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="js\backgroundTask.js">
          <BackgroundTasks>
            <Task Type="timer"/>
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
